@import url("reset.css");
p {
    color: rgb(238, 13, 151);
}
.content p {
    color: blue;
}
.title {
    color: rgb(92, 144, 189);
}
.list {
    color: rgb(19, 73, 5);
}
.block {
}
.sub-title {
    color: red;
}
.contacts {
    color: black;
}

.content__link {
    color: blueviolet;
}
#fact02 p {
    color: rgb(74, 76, 76);
}
#fact03 p {
    color: rgba(249, 249, 8, 0.988);
}
#fact03 span {
    color: blue;
}
