@import url("reset.css");

* {
    color: rgba(75, 35, 233, 0.688);
} 
.content p {
    color: blue;
}
/* .title {
    color: rgb(92, 144, 189);
} */
.list li {
    color: rgb(238, 89, 3);
}

[class*="sub"] {
    color: rgb(240, 20, 20);
}

.contacts, .title {
    color: rgb(247, 7, 115);
}

.content__link {
    color: rgb(36, 30, 42);
}
#fact02 p {
    color: rgb(74, 76, 76);
}
#fact03 p {
    color: yellowgreen;
}
#fact03 span {
    color: blue;
}
#fact10 p {
    color: #4597f7;
}
.go-home {
    color: rgb(251, 1, 1);
}

/* Первый Уровень */
ul > li {
    color: red;
}
ul > li ~ li {
    color: green;
}

/* Вотрой уровень */
ul > li > ul > li {
    color: blue;
}
ul > li > ul > li ~ li {
    color: orange;
}

/* Span на 2 рівні вкладеності */
ul > li > ul > li > span {
    color: #a0f0fc;
}
ul > li > ul > li ~ li > span {
    color: #a0f0fc;
}

/* 3 рівень вкладеності */
ul > li > ul > li > ol > li {
    color: #4597f7;
}
ul > li > ul > li > ol > li ~ li {
    color: #5d5d5d;
}