@import url("https://fonts.googleapis.com/css?family=Montserrat:regular&display=swap");

@font-face {
	font-family: "Circular";
	src: url("../fonts/circularftd-font.woff2") format("woff2");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Circular";
	src: url("../fonts/circularstd-bold.woff2") format("woff2");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Circular";
	src: url("../fonts/circularstd-medium.woff2") format("woff2");
	font-display: swap;
	font-weight: 450;
	font-style: normal;
}